<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-card">
        <div class="modal_square">
          <%= simple_format(@content) %>
        </div>
    </div>
  </div>
</div>