
$primary:       #FFED8C;
$secondary:     #FFC700;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$link-color:                              gray;
// $link-decoration:                         none !default;
$link-hover-color:                        black;
$link-hover-decoration:                   none;

@import "bootstrap";

/*text setting*/

.ja-hero {
    font-style: bold;
    font-size: 52px;
    line-height: 75px;
}

.ja-display2 {
    font-style: bold;
    font-size: 45px;
    line-height: 65px;
}

.ja-display1 {
    font-style: bold;
    font-size: 34px;
    line-height: 50px;
}

.ja-heading {
    font-style: bold;
    font-size: 24px;
    line-height: 35px;
}

.ja-title {
    font-style: bold;
    font-size: 22px;
    line-height: 32px;
}

.ja-subheading {
    font-style: bold;
    font-size: 18px;
    line-height: 26px;
}

.ja-bold {
    font-style: bold;
    font-size: 14px;
    line-height: 20px;
}


.ja-body {
    font-style: regular;
    font-size: 14px;
    line-height: 20px;
}

.ja-button {
    font-style: bold;
    font-size: 14px;
    line-height: 20px;
}

.ja-caption {
    font-style: regular;
    font-size: 12px;
    line-height: 17px;
}


/* Main */

body {
    font-family:'Noto Sans JP';
}

a {
    @extend .ja-bold;
}

nav {
    div {
        margin-left: 5%;
        margin-right: 5%;
        @extend .ja-display1;
    }
    
    a {
        @extend .ja-subheading;
    }
    
    #app-logo {
        @extend .ja-display1;
        margin-right: 50px;
    }
}

header {
    margin-bottom: 50px;
}

footer {
    height: 100px;
    margin-top: 50px;
    background-color: $primary;
    @extend .ja-caption;
    text-align: center;
}

.tab-card{
        padding: 0;
    }
    
.main-card {
    height: auto;
    border-radius: 20px;
    margin: 5% 0%;
    // padding-top: 2%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    .card-header{
        border-radius: 20px 20px 0px 0px;
        background-color: $secondary;
        border-style: none;
    }
    
    .card-body {
        padding: 40px;
    }
    
    .nav-item {
        margin-bottom: -2px;
        .active {
            border-radius: 10px 10px 0px 0px;
            border-style: none;
            // border-bottom: 1px;
            // border-color: $primary;
            background-color: $primary;
        }
    }

}

.mini-card {
    height: 253px;
    border-radius: 20px;
    margin: 10px 10px;
    // padding: 2%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    .mini-square {
        position: relative;
        width: 100%;
        height: 220px;
        background: white;
        border-radius: 20px;
        padding: 3%;
        .mini-controls{
            position: absolute;
            bottom: 5px; 
            right: 10px;
        }

    }
}

.line-reduce{
     width: 100%;
     height: 90%;
     overflow: hidden;  
     text-overflow: ellipsis;  
     -webkit-text-overflow: ellipsis;  
     -o-text-overflow: ellipsis;  
}

.modal-content{
    height: auto;
}

.modal-card{
    height: auto;
    background-color: $primary;
    padding: 5%;
    .modal_square {
        background: white;
        border-radius: 20px;
        padding: 7%;
    }
}

.button_center{
   text-align:center;
   margin-top: 20px;
}